bonita/bin
bonita/.classpath
bonita/src-providedGroovy
bonita/template
bonita/h2_database
bonita/process_configurations
bonita/META-INF
bonita/.settings
bonita/target/
bonita/node/
bonita/node_modules/
bonita/build.properties

#provided web widgets
bonita/web_widgets/pb*/

bonita/#web component preferenes
bonita/web_widgets/.metadata
bonita/web_fragments/.metadata
bonita/web_page/.metadata
bonita/web_page/*/js
bonita/web_fragments/*/*.js
bonita/web_widgets/*/*.js
bonita/web_widgets/*/*.ctrl.js

#bdm jar dependency is regenerate from bom.xml file
bonita/lib/bdm-client-pojo.jar

#only used as user preferences
bonita/database_connectors_properties
