<!-- {% load static %} -->
<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Tablero de control gerencial</title>
	<link href="{% static 'css/all.min.css' %}" rel="stylesheet" type="text/css">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet" />
	<link
		href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
		rel="stylesheet">
	<!-- MDB Bootstrap -->
	<link href="{% static 'css/mdb.min.css' %}" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="{% static 'js/mdb.min.js' %}"></script>
	<link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'css/form.css' %}" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/dashboard/dashboard.js' %}"></script>
</head>

<body id="page-top" onload="obtenerDatosIniciales()">
	<div id="content">
		<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
			<div class="container-fluid">
				<a class="navbar-brand" href="{% url 'index' %}">Sistema de Sociedades</a>
				<div class="dropdown">
					<button class="btn btn-primary rounded-circle p-0 size-50 btn-border" type="button" id="dropdownMenuButton" data-mdb-toggle="dropdown" aria-expanded="false">
						LM
					</button>
					<ul class="dropdown-menu dropdown-menu-end text-center" aria-labelledby="dropdownMenuButton">
						<li><a class="dropdown-item" href="{% url 'logout' %}">Cerrar sesión</a></li>
					</ul>
				</div>
			</div>
		</nav>

		<div class="">
	
			<h1 class="my-4 text-gray-800 text-uppercase font-weight-bold text-center ">Tablero de control gerencial</h1>
			<!-- Content Row -->
			<div class="row justify-content-center">

				<!-- Earnings (Monthly) Card Example -->
				<div class="col-xl-3 col-md-6 mb-4 h-100">
					<div class="card border-left-primary shadow h-100 py-2">
						<div class="card-body">
							<div class="row no-gutters align-items-center">
								<div class="col mr-2">
									<div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
										Tiempo de resolución de los procesos</div>
									<div class="h5 mb-0 font-weight-bold text-gray-800 mt-4" id="tiempoResolucionProcesos"></div>
								</div>
								<div class="col-auto">
									<i class="fas fa-calendar fa-2x text-gray-300"></i>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-xl-3 col-md-6 mb-4 h-100">
					<div class="card border-left-warning shadow h-100 py-2">
						<div class="card-body">
							<div class="row no-gutters align-items-center">
								<div class="col mr-2">
									<div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
										Usuarios con mayor cantidad de rechazos
									</div>
									<a href="#modalUsuariosRechazados"  data-target="#modalUsuariosRechazados" data-toggle="modal" class="btn btn-warning btn-icon-split mt-2">
										<span class="text">Ver usuarios</span>
									</a>
								</div>
								<div class="col-auto">
									<span class="h1 text-gray-300"><i class="far fa-times-circle"></i></span>
								</div>
							</div>
						</div>
					</div>
				</div>


				<div class="col-xl-3 col-md-6 mb-4 h-100">
					<div class="card border-left-primary shadow h-100 py-2">
						<div class="card-body">
							<div class="row no-gutters align-items-center">
								<div class="col mr-2">
									<div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
										Usuarios con mayor cantidad de aprobaciones
									</div>
									<a href="#modalUsuariosAprobados"  data-target="#modalUsuariosAprobados" data-toggle="modal" class="btn btn-primary btn-icon-split mt-2">
										<span class="text">Ver usuarios</span>
								</a>								
								</div>
								<div class="col-auto">
									<span class="h1 text-gray-300"><i class="far fa-check-circle"></i></span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="card border-left-dark shadow py-2 col-auto mx-5 mt-4 mb-4">
				<div class="card-body">
					<h5 class="card-title">General</h5>

					<div class="row g-2">
						<div class="card border-left-warning shadow h-100 py-1 col w-50 mr-2">
							<div class="card-body">
								<div class="row no-gutters align-items-center">
									<div class="col mr-2">
										<div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
											Sociedades anónimas en proceso de aprobación </div>
										<div class="row no-gutters align-items-center mt-3 ">
											<div class="col-auto">
												<div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">90%</div>
											</div>
											<div class="col">
												<div class="progress progress-sm mr-2">
													<div class="progress-bar bg-warning" role="progressbar" style="width: 90%"
														aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-auto">
										<span class="h2 text-gray-500">180/200</span>
									</div>
								</div>
							</div>
						</div>


					</div>
				</div>
			</div>


		
				<div class="card border-left-dark shadow py-2 col-auto mx-5 mb-4">
					<div class="card-body">
						<div class="mb-2"><span class="h5 card-title">Mesa de entradas</span></div>

						<div class="row g-2 mt-3">
							<div class="card border-left-success shadow h-100 py-1 col w-50 mr-2">
								<div class="card-body">
									<div class="row no-gutters align-items-center">
										<div class="col mr-2">
											<div class="text-xs font-weight-bold text-success text-uppercase mb-1">
											Sociedades anónimas confirmadas</div>
											<div class="row no-gutters align-items-center mt-3 ">
												<div class="col-auto">
													<div class="h5 mb-0 mr-3 font-weight-bold text-gray-800"><span id="porcentajeSociedadesConfirmadas"></span><span>%</span></div>
												</div>
												<div class="col">
													<div class="progress progress-sm mr-2">
														<div class="progress-bar bg-success" role="progressbar"  id="barraPorcentajeSociedadesConfirmadas"
															aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
													</div>
												</div>
											</div>
										</div>
										<div class="col-auto">
											<div class="h2 text-gray-500"><span id="spanCantConfirmaciones"></span>/<span class="totalSociedadesRegistradas"></span></div>
										</div>
									</div>
								</div>
							</div>


							<div class="card border-left-danger shadow py-1 col-auto w-50 ml-2">
								<div class="card-body">
									<div class="row no-gutters align-items-center">
										<div class="col mr-2">
											<div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
												Sociedades anónimas rechazadas</div>
											<div class="row no-gutters align-items-center mt-3 ">
												<div class="col-auto">
													<div class="h5 mb-0 mr-3 font-weight-bold text-gray-800"><span id="porcentajeSociedadesRechazadas"></span><span>%</span></div>
												</div>
												<div class="col">
													<div class="progress progress-sm mr-2">
														<div class="progress-bar bg-danger" role="progressbar" id="barraPorcentajeSociedadesRechazadas"
															aria-valuenow="20" aria-valuemin="0" aria-valuemax="20"></div>
													</div>
												</div>
											</div>
										</div>
										<div class="col-auto">
											<div class="h2 text-gray-500"><span id="spanCantRechazos"></span>/<span class="totalSociedadesRegistradas"></span></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="card border-left-dark shadow py-2 col-auto mx-5 mt-4">
					<div class="card-body">
						<h5 class="card-title">Legales</h5>

						<div class="row g-2">
							<div class="card border-left-success shadow h-100 py-1 col w-50 mr-2">
								<div class="card-body">
									<div class="row no-gutters align-items-center">
										<div class="col mr-2">
											<div class="text-xs font-weight-bold text-success text-uppercase mb-1">
												Estautos confirmados </div>
											<div class="row no-gutters align-items-center mt-3 ">
												<div class="col-auto">
													<div class="h5 mb-0 mr-3 font-weight-bold text-gray-800"></div>
												</div>
												<div class="col">
													<div class="progress progress-sm mr-2">
														<div class="progress-bar bg-success" role="progressbar" id="barraPorcentajeEstatutosConfirmados" style="width:0%"
															aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"><span id="porcentajeEstatutosConfirmados"></span><span>%</span></div>
													</div>
												</div>
											</div>
										</div>
										<div class="col-auto">
											<div class="h2 text-gray-500"><span id="spanCantConfirmacionesLegales"></span>/<span class="totalEstatutosEvaluados"></span></div>
										</div>
									</div>
								</div>
							</div>


							<div class="card border-left-danger shadow py-1 col-auto w-50 ml-2">
								<div class="card-body">
									<div class="row no-gutters align-items-center">
										<div class="col mr-2">
											<div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
												Estatutos rechazados </div>
											<div class="row no-gutters align-items-center mt-3 ">
												<div class="col-auto">
													<div class="h5 mb-0 mr-3 font-weight-bold text-gray-800"></div>
												</div>
												<div class="col">
													<div class="progress progress-sm mr-2">
														<div class="progress-bar bg-danger" role="progressbar" id="barraPorcentajeEstatutosRechazados" style="width:0%"
															aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"><span id="porcentajeEstatutosRechazados"></span><span>%</span></div>
													</div>
												</div>
											</div>
										</div>
										<div class="col-auto">
											<div class="h2 text-gray-500"><span id="spanCantRechazosLegales"></span>/<span class="totalEstatutosEvaluados"></span></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
		

		

			<footer class="sticky-footer bg-white">
				<div class="container my-auto">
					<div class="copyright text-center my-auto">
						<span>Copyright &copy; | Dirección Nacional de Personas Jurídicas | 2021</span>
					</div>
				</div>
			</footer>


		</div>


	</div>

	<a class="scroll-to-top rounded" href="#page-top">
		<i class="fas fa-angle-up"></i>
	</a>


	  <!-- MODAL USUARIOS CON MAYOR CANTIDAD DE RECHAZOS -->
	  <section class="modal fade" id="modalUsuariosRechazados" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-scrollable">
		  <div class="modal-content">
			<div class="modal-header">
			  <h5 class="modal-title">Usuarios con mayor cantidad de rechazos</h5>
			  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">×</span>
			</button>
			</div>
			<div class="modal-body">
				 <span class="input-group-text border-0" id="comentarioPrueba"></span> 
				<table id="tablaSocios" class="table table-hover table-bordered w-100 mx-auto text-center cmy-2">
					<thead class="table-warning align-top">
					  <tr class="px-5">
						<th scope="col">Puesto</th>
						<th scope="col">Usuario</th>				
					  </tr>
					</thead>
					<tbody>
						<tr>
							<th>1°</th>
							<td>Luis Marianete</td>
						</tr>
						<tr>
							<th >2°</th>
							<td>Matias Mosquera</td>
						</tr>
						<tr>
							<th>3°</th>
							<td>Juan Marcos Marascutti</td>
						</tr>
						<tr>
							<th >4°</th>
							<td>Miguelucho</td>
						</tr>
						<tr>
							<th >5°</th>
							<td>Roberto Juarez</td>
						</tr>
					</tbody>
				  </table>
			</div>
			<div class="modal-footer">
			  <button type="button" class="btn btnVolver" data-dismiss="modal"  aria-label="Close">
				<span aria-hidden="true">Volver</span>
			  </button>
			</div>
		  </div>
		</div>
	  </section>

  <!-- MODAL USUARIOS CON MAYOR CANTIDAD DE APROBACIONES -->
	  <section class="modal fade" id="modalUsuariosAprobados" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-scrollable">
		  <div class="modal-content">
			<div class="modal-header">
			  <h5 class="modal-title">Usuarios con mayor cantidad de aprobaciones</h5>
			  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">×</span>
			</button>
			</div>
			<div class="modal-body">			
				<table id="tablaSocios" class="table table-hover table-bordered w-100 mx-auto text-center cmy-2">
					<thead class="table-primary align-top">
					  <tr class="px-5">
						<th scope="col">Puesto</th>
						<th scope="col">Usuario</th>				
					  </tr>
					</thead>
					<tbody>
						<tr>
							<th>1°</th>
							<td>Luis Marianete</td>
						</tr>
						<tr>
							<th >2°</th>
							<td>Matias Mosquera</td>
						</tr>
						<tr>
							<th>3°</th>
							<td>Juan Marcos Marascutti</td>
						</tr>
						<tr>
							<th >4°</th>
							<td>Miguelucho</td>
						</tr>
						<tr>
							<th >5°</th>
							<td>Roberto Juarez</td>
						</tr>
					</tbody>
				  </table>
			</div>
			<div class="modal-footer">
			  <button type="button" class="btn btnVolver" data-dismiss="modal"  aria-label="Close">
				<span aria-hidden="true">Volver</span>
			  </button>
			</div>
		  </div>
		</div>
	  </section>


	<script type="text/javascript" src="{% static 'js/dashboard/jquery.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/dashboard/bootstrap.bundle.min.js' %}"></script>


	<script type="text/javascript" src="{% static 'js/dashboard/jquery.easing.min.js' %}"></script>


	<script type="text/javascript" src="{% static 'js/dashboard/sb-admin-2.min.js' %}"></script>


	<!-- <script type="text/javascript" src="{% static 'js/dashboard/Chart.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/dashboard/chart-area-demo.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/dashboard/chart-pie-demo.js' %}"></script> -->

</body>

</html>